<div class='flex pl-1 pr-2'>
    {{#foreach authors}}
        <a class='-ml-1 overflow-hidden rounded-full border' href='{{url}}' title='{{name}}'>
            {{#if profile_image}}
                <img
                    class='size-6'
                    src='{{img_url profile_image format='avif' size='xs'}}'
                    alt='{{t "Portrait of {name}" name=name}}'
                />
            {{else}}
                <div class='bg-background-subtle p-1'>
                    {{> icons/profile-circle }}
                </div>
            {{/if}}
        </a>
    {{/foreach}}
</div>