{{#if isSecondary}}
    {{#foreach navigation}}
        <a class="button-ghost" href="{{url}}">{{label}}</a>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <a class="w-full button-ghost hover:bg-border focus:bg-border {{#if current}}bg-border{{/if}}"
            href="{{url absolute='true'}}">
            {{label}}
        </a>
    {{/foreach}}
{{/if}}