{{!< default}}

<div class="px-6 py-18">

    {{#author}}
    <header class="relative max-w-[45rem] overflow-hidden rounded-xl text-center border">
        {{#if cover_image}}
        <img
            class="absolute inset-0 -z-10 size-full"
            src="{{img_url cover_image format='avif' size='md' }}"
            alt="{{ name }}"
            decoding="async"
        />
        {{/if}}

        <div class="px-6 py-18 bg-gradient-to-b from-transparent to-background-subtle">
            {{#if profile_image}}
            <img
                class="mb-6 mx-auto size-18 rounded-full border"
                src="{{img_url profile_image format='avif' size='xs' }}"
                alt="{{ name }}"
                decoding="async"
            />
            {{/if}}

            <h1 class="text-h4 font-medium leading-tight text-foreground">{{ name }}</h1>
            {{#if bio}}
            <p class="mt-3 text-balance">{{ bio }}</p>
            {{/if}}

            <div class="mt-6 flex flex-wrap justify-center gap-1 text-sm font-medium leading-6">
                <span class="px-2">
                    {{plural ../pagination.total empty='0 Articles' singular='% Article' plural='% Articles'}}
                </span>
                {{#if website}}
                <a
                    class="rounded-md bg-background-subtle px-2 transition-colors hover:bg-border focus:bg-border"
                    href="{{ website }}"
                    target="_blank"
                    rel="noopener"
                    >Website</a
                >
                {{/if}}
                {{#if twitter}}
                <a
                    class="rounded-md bg-background-subtle px-2 transition-colors hover:bg-border focus:bg-border"
                    href="{{ twitter_url }}"
                    target="_blank"
                    rel="noopener"
                    >Twitter</a
                >
                {{/if}}
                {{#if facebook}}
                <a
                    class="rounded-md bg-background-subtle px-2 transition-colors hover:bg-border focus:bg-border"
                    href="{{ facebook_url }}"
                    target="_blank"
                    rel="noopener"
                    >Facebook</a
                >
                {{/if}}
            </div>
            <a class="inline-block mt-3 text-xs leading-6 px-2 text-foreground underline" href="/authors/">{{t 'Discover all authors'}}</a>
        </div>
    </header>
    {{/author}}

    <main class="mt-18 max-w-[45rem]">
        <section class="space-y-12">
            {{#foreach posts}}
            <hr />
            {{> post page=pagination.page }}
            {{/foreach}}
            {{ pagination }}
        </section>
    </main>
</div>
